

.alertContainer {
  position: fixed;
  top: 3%;
  right: 1%;
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  width: 300px;
  text-align: center;
}

.alertContainer.show {
  display: block;
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.loginPageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 160px;
    width: 100%;
    margin-top: 60px;
}
.theme {
    display: flex;
    align-items: center;
}
.form{
    width: 100%
}
.label{
    width: 100%;
}
.imgLogin {
    width: 50%;
}

  
 

.text {
    color: var(--Font-Color-Black, #8B8E99);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 613px;
  width: 50%;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid var(--Border-Color, #E4E7E9);
    gap: 10px;
    padding: 50px;
    
}

.textLogin {
    display: flex;
   justify-content: flex-start;
    color: var(--Font-Color-Black, #8B8E99);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;

    align-self: flex-start;
    /* 133.333% */
}

.forgotPassword {
    color: var(--Blue-BG, #3858D6);

    /* Text md / Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
}
.shapeFormText {
    color: var(--Font-Color-Black, #8B8E99);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.shapeForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.shapeForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin: 10px 0;

}

.shapeW {
    width: 100%;
    height: 1px;
    background: #E4E7E9;
}
.googleSignup {
    display: flex;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100%;
    padding: 13.5px 187.905px 14px 185.47px;
    justify-content: center;
    align-items: flex-start;
    gap: 10.625px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--Border-Color, #E4E7E9);
}

.googleSignupContent {
    color: #3F434A;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.questionSignup {
    display: flex;
    gap: 4px;
    flex-direction: row;
}

.question {
    color: var(--gray-900, #101828);

    /* Text md / Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.signupNow {
    color: var(--Blue-BG, #3858D6);
    text-decoration: none;
    /* Text md / Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
}