.table {
  width: 100%;
}

.container {
  width: 100%;
}

.settingHeading {
  color: var(--gray-900, #191c1f);
  padding: 20px 24px;
  /* Body/Large/500 */
  font-family: Public Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
}

.fieldSettingHeading {
  border-radius: 4px 4px 0px 0px;
  border-bottom: 1px solid var(--gray-100, #e4e7e9);
  background: var(--gray-00, #fff);
}

.trTableWL {
  padding: 10px 24px;
  align-items: center;
  gap: 24px;
  /* border: 1px solid var(--Border-Color, #E4E7E9); */
  background: var(--BG, #f5f5f7);
}

.productSvgg {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 24px;
}
.svg{
  cursor: pointer ;
}
/* WishList.module.css */

.thTableWL,
.thTableWLR {
  padding: 11px 24px 11px 0px;
  display: table-cell;
  text-align: left;
  color: var(--Font-Color-Black, #8b8e99);
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 18px */
}
.thTableWLFirst {
  padding: 11px 24px 11px 24px;
  display: table-cell;
  color: var(--Font-Color-Black, #8b8e99);
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-align: left;
}
.trBody {
  height: 100px;
  background-color: #ffffff;
}

.trBody:not(:last-child) {
  border-bottom: 1.5px solid #e4e7e9;
}

.productPrice {
  display: flex;
  align-items: center;
  gap: 6px;
}

.product {
  display: flex;
  align-items: center;
}

.imgProduct {
  display: flex;
  align-items: center;
  width: 72px;
  height: 72px;
}

.productInfo {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100px;
  padding-left: 24px;
}

.productContent {
  overflow: hidden;
  color: var(--Default-Text-Color, #191c1f);
  text-overflow: ellipsis;

  /* Body/Small/400 */
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  padding-right: 24px;
  white-space: nowrap;

}

.delPrice {
  color: var(--Font-Color-Black, #8b8e99);
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  text-decoration-line: strikethrough;
}

.price {
  color: var(--Default-Text-Color, #191c1f);
  /* Body/Small/400 */
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.test {
  display: flex;
  align-items: center;
}
.feature {
  display: none;
}
.toggleOptions {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 1px solid var(--gray-100, #e4e7e9);
  background: var(--gray-00, #fff);
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 53%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contentDialog {
  justify-content: center;
  width: 100%;
  cursor: pointer;
  color: var(--gray-900, #191c1f);
  display: flex;
  align-items: center;
  /* Body/Large/500 */
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  border-radius: 0 0 20px 20px;
  height: 30%;
}
.containerBtnDiaLog {
  height: 70%;
  width: 100%;
  border-bottom: 1px solid #e4e7e9;
}
.btnDialogOk {
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px; /* 133.333% */
  color: green;
  border: none;
  background-color: #fff;
  width: 50%;
  height: 100%;
  border-radius: 20px 0 0 0;
  border-right: 1px solid #e4e7e9;
}
.btnDialogNo {
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px; /* 133.333% */
  color: red;
  border: none;
  background-color: #fff;
  width: 50%;
  height: 100%;
  border-radius: 0 20px 0 0;
}
.btnDialogOk:hover,
.btnDialogNo:hover {
  background-color: #f7f7f7; 
}

.contentDialog:hover {
  background-color: #f0f0f0; 
}

@media only screen and (max-width: 1100px) {
}
@media only screen and (max-width: 800px) {
  .productSvgR, .thTableWLR{
    display: none;
  }
  .feature {
    display: block;
    color: var(--Blue-BG, #3858d6);

    /* Body/Small/600 */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
  }
  .svg {
    display: none;
  }
  .thTableWL,
  .thTableWLFirst {
    padding-right: 5px;
  }
  .productPrice > * {
    font-size: 11px;
  }
  .productContent,
  .price {
    font-size: 11px;
  }

  .productSvg {
    font-size: 5px;
  }
  .productSvg {
    padding-right: 5px;
  }
}
@media only screen and (max-width: 540px) {
  .delPrice {
    display: none;
  }
  .imgProduct {
    width: 50px;
    height: 50px;
  }
  .contentDialog {
    height: 20%;
  }
  .btnDialogOk,
  .btnDialogNo {
    font-size: 12px;
  }

  .contentDialog {
    font-size: 12px;
  }
}
