.table{
    width: 100%;
}

.container{
    width: 100%;
}

.settingHeading {
    color: var(--gray-900, #191C1F);
    padding: 20px 24px;
    /* Body/Large/500 */
    font-family: Public Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
}

.fieldSettingHeading {

    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid var(--gray-100, #E4E7E9);
    background: var(--gray-00, #FFF);
   
}

.trTableWL {


    padding: 10px 24px;
    align-items: center;
    gap: 24px;
    /* border: 1px solid var(--Border-Color, #E4E7E9); */
    background: var(--BG, #F5F5F7);
}

.productSvgg {
cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.productSvg {
    padding-right: 24px;
}

/* WishList.module.css */



.thTableWL {
    padding: 11px 24px 11px 0px;
    display: table-cell;
    color: var(--Font-Color-Black, #8B8E99);
    font-family: Public Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 18px */

}

.trBody {
    height: 100px;
    background-color: #FFFFFF;

}

.trBody:not(:last-child) {
    border-bottom: 1.5px solid #E4E7E9;
}


.productPrice {

    display: flex;
    align-items: center;
    gap: 6px;
}

.product {
    display: flex;
    align-items: center;

}

.imgProduct {

    display: flex;
    align-items: center;
    width: 72px;
    height: 72px;
}

.productInfo {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100px;
}

.productContent {

    width: 230px;
    overflow: hidden;
    color: var(--Default-Text-Color, #191C1F);
    text-overflow: ellipsis;

    /* Body/Small/400 */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    padding-right: 24px;
    white-space: nowrap;
    /* Ngăn chặn ngắn dòng nếu nội dung quá nhiều */

}

.delPrice {

    color: var(--Font-Color-Black, #8B8E99);
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    text-decoration-line: strikethrough;

}

.price {
    color: var(--Default-Text-Color, #191C1F);
    /* Body/Small/400 */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.test {
    display: flex;
    align-items: center;
}