.btnRight{
    display: flex;
padding: 8px;
align-items: flex-start;
gap: 10px;
border-radius: 100px;
border: 1px solid var(--Font-Color-Black, #8B8E99);
background: var(--Blue-BG, #3858D6);
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 0;
z-index: 2;
}
.btnLeft{
    display: flex;
padding: 8px;
align-items: flex-start;
gap: 10px;
border-radius: 100px;
border: 1px solid var(--Font-Color-Black, #8B8E99);
background: var(--Blue-BG, #3858D6);
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 0;
z-index: 2;
}
.itemDetailSlider {

    border-radius: 2px;
    border: 1px solid var(--gray-100, #E4E7E9);
    background:  lightgray 14.178px 18px / 70.462% 62.5% no-repeat;
    height: 96px;
    width: 96px;
    
}

.itemDetailSliderChildren {
    width: 616px;
    position: relative;
   

}

.itemDetailSliderMain {
    width: 616px;
    height: 464px;
    border-radius: 4px;
    border: 1px solid var(--Border-Color, #E4E7E9);
    background: lightgray 30.222px 62px / 90.188% 73.276% no-repeat, #FFF;
}

.containerSlider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    
}