@import url(/src/common/styles/fonrt.css);

.container{
  padding: 25px;
}
.alert {
  position: fixed;
  top: 7%;
  right: 1%;
  z-index: 1000;
  animation: slideInDown 1.5s ease; /* Adjust the animation duration and timing function as needed */
}
.btnAdd{
  display: flex;
padding: 10px 14px;
justify-content: center;
align-items: center;
gap: 5px;
border-radius: 8px;
background: var(--Blue-BG, #3858D6);
height: 20px;
margin-bottom: 20px;
}
.btnAddContent{
  color: var(--neutral-white, #FFF);


font-family: Public Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: 0.07px;
}
.btnAddIcon{
  color: #F5F5F7;
  width: 20px;
  height: 20px;
}
.fieldSettingHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formTitle {
  color: var(--Default-Text-Color, #191c1f);


  font-family: Public Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.24px;
}
.table {
  width: 100%;
}

.trTableWL {
  align-items: flex-start;
  align-self: stretch;
}
.thTableWLFirst {
 color: var(--neutral-gray-gray-500, #667085);
  border-bottom: 1px solid var(--Border-Color, #e4e7e9);


  font-size: 14px;
  font-style: normal;
width: 5px;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  background-color: pink;
 padding: 17px 0px ;
 padding-left: 24px;

 text-align: end;
  gap: 8px;

  background: #fff;

  background: var(--neutral-white, #fff);
}
.thTableWL {
  color: var(--neutral-black-black-500, #1d1f2c);



  font-size: 14px;
  font-style: normal;

  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;

  display: table-cell;
  width: 98px;
  padding: 18px 22px;
  text-align: start;
  gap: 8px;
  border-bottom: 1px solid var(--Border-Color, #e4e7e9);
  background: var(--neutral-white, #fff);
}
.productInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.imgProduct {
  width: 44px;
  height: 44px;
}
.productContent {
  width: 230px;
  overflow: hidden;
  color: var(--Default-Text-Color, #191c1f);
  text-overflow: ellipsis;

  /* Body/Small/400 */
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  padding-right: 24px;
  white-space: nowrap;
 
}
.product {
  color: var(--neutral-gray-gray-500, #667085);

  /* Text M/Medium */

  font-size: 14px;
  font-style: normal;

  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  background-color: pink;
  padding: 17px 22px;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid var(--Border-Color, #e4e7e9);
  background: #fff;
}
.productSvgg{
    color: var(--neutral-gray-gray-500, #667085);
  border-bottom: 1px solid var(--Border-Color, #e4e7e9);
  /* Text M/Medium */

  font-size: 14px;
  font-style: normal;

  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  background-color: pink;
 padding: 17px 0;

 text-align: end;
  gap: 8px;

  background: #fff;
}
.productSvg {
  color: var(--neutral-gray-gray-500, #667085);
  border-bottom: 1px solid var(--Border-Color, #e4e7e9);
  /* Text M/Medium */

  font-size: 14px;
  font-style: normal;

  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  background-color: pink;
  padding: 17px 22px;
  align-items: center;
  gap: 8px;

  background: #fff;
}
a{
  text-decoration: none;
}
.thTableWLFirst {
  border-top-left-radius: 12px;
}

.thTableWL:last-child {
  border-top-right-radius: 12px; 
}



.table {
  border-spacing: 0px;
  font-family: Public Sans;
  font-weight: 500;
}

.action {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.actionContainer {
  display: flex;
  gap: 12px;
}
.link{
  color: var(--neutral-gray-gray-500, #667085); ;
}