:root {
    --BG: #F5F5F7;
    --font-color-black: #8B8E99;
    --blue-BG : #3858D6;
    --border-color: #E4E7E9;
    --default-text-color: #191C1F;

}

  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


