.container {
  padding: 45px 120px 123px;
}
.containerCartPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.asideCartPage {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.cartFullContainer {
  display: inline-flex;

  flex-direction: column;
  align-items: flex-start;
  background: var(--gray-00, #fff);
  flex-shrink: 0;
}

.title {
  width: 100%;
}

.heading {
  display: flex;
  width: 100%;
  padding: 20px 24px;
  align-items: flex-start;
  gap: 10px;

  color: var(--gray-900, #191c1f);

  /* Body/Large/500 */
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.containerIcon {
  width: 100%;
  padding: 0 24px;
  padding-bottom: 16px;
}
.subHeading {
  display: flex;
  border: 1px solid var(--Border-Color, #e4e7e9);
  background: transparent;

  align-items: center;
  gap: 24px;
  justify-content: space-around;
}

.contentSubHeading {
  color: var(--Font-Color-Black, #8b8e99);
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 18px */
}

.icon {
  cursor: pointer;
}

.imgProduct {
  width: 72px;
  height: 72px;
}

.nameProduct {
  overflow: hidden;
  color: var(--Default-Text-Color, #191c1f);
  text-overflow: ellipsis;

  /* Body/Small/400 */
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  display: -webkit-box;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.priceContainer {
  display: flex;
  gap: 8px;
}

.iconProduct {
  padding: 24px;
  display: flex;

  height: 20px;

  justify-content: center;
  align-items: center;
}

.delPrice {
  color: var(--Font-Color-Black, #8b8e99);
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}
.confirmationDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 1px solid var(--gray-100, #e4e7e9);
  background: var(--gray-00, #fff);
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.25);

  width: 23%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contentDialog {
  justify-content: center;
  width: 100%;
  height: 70%;
  color: var(--gray-900, #191c1f);
  display: flex;
  align-items: center;
  /* Body/Large/500 */
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  border-bottom: 1px solid #e4e7e9;
}
.containerBtnDiaLog {
  height: 30%;
  width: 100%;
}
.btnDialogOk {
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px; /* 133.333% */
  color: green;
  border: none;
  background-color: #fff;
  width: 50%;
  height: 100%;
  border-radius: 0 0 0 30px;
  border-right: 1px solid #e4e7e9;
}
.btnDialogNo {
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px; /* 133.333% */
  color: red;
  border: none;
  background-color: #fff;
  width: 50%;
  height: 100%;
  border-radius: 0 0 30px 0;
}
.price {
  color: var(--Default-Text-Color, #191c1f);

  /* Body/Small/400 */
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.totalPrice {
  color: var(--Default-Text-Color, #191c1f);

  /* Body/Small/500 */
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.containerProduct {
  width: 100%;
}

.product {
  display: flex;
  align-items: center;
  gap: 12px;
}

.productRow {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 24px;
}

.cardTotals {
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--gray-100, #e4e7e9);
  background: var(--gray-00, #fff);
}

.cardTotalHeading {
  display: flex;

  align-items: flex-start;
  gap: 10px;
}

.contentCardTotalHeading {
  color: var(--gray-900, #191c1f);

  /* Body/Large/500 */
  font-family: Public Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: 24px;
  /* 133.333% */
}

.containerDetailTotal {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.detailTotal {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.contentTotal {
  color: var(--gray-600, #5f6c72);

  /* Body/Small/400 */
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.detailContentTotal {
  color: var(--gray-900, #191c1f);

  /* Body/Small/500 */
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.lineTotal {
  width: 100%;
  margin: 16px 0;
  height: 1px;
  background-color: #e4e7e9;
}

.toltalPriceDetail {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}

.toltalPriceDetailContent {
  color: var(--gray-900, #191c1f);

  /* Body/Medium/400 */
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.headingCoupon {
  display: flex;
  border-bottom: 1px solid var(--gray-100, #e4e7e9);

  align-items: flex-start;
  gap: 10px;

  color: var(--gray-900, #191c1f);

  /* Body/Large/500 */
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.couponCode {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 4px;

  background: var(--gray-00, #fff);
}

.form {
  display: flex;

  height: 70px;

  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.btnCoupon {
  width: 151.154px;
  padding: 16px 0 24px 0;
}
.applyCoupon {
  padding: 0 20px;
}
.table {
  width: 100%;
}

.container1 {
  width: 75%;
}

.settingHeading {
  color: var(--gray-900, #191c1f);
  padding: 20px 24px;
  /* Body/Large/500 */
  font-family: Public Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
}

.fieldSettingHeading {
  border-radius: 4px 4px 0px 0px;
  border-bottom: 1px solid var(--gray-100, #e4e7e9);
  background: var(--gray-00, #fff);
}

.trTableWL {
  padding: 10px 24px;
  align-items: center;
  gap: 24px;
  /* border: 1px solid var(--Border-Color, #E4E7E9); */
  background: var(--BG, #f5f5f7);
}

.productSvgg {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productSvg {
  padding-right: 24px;
}

/* WishList.module.css */

.thTableWLFirst {
  padding: 11px 24px 11px 24px;
  display: table-cell;
  color: var(--Font-Color-Black, #8b8e99);
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-align: left;
}
.thTableWL {
  padding: 11px 24px 11px 0px;
  display: table-cell;
  color: var(--Font-Color-Black, #8b8e99);
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-align: left;
  /* 18px */
}

.trBody {
  height: 100px;
  background-color: #ffffff;
  min-width: 300px;
}

.trBody:not(:last-child) {
  border-bottom: 1.5px solid #e4e7e9;
}

.productPrice {
  display: flex;
  align-items: center;
  gap: 6px;
}

.product {
  display: flex;
  align-items: center;
}

.imgProduct {
  display: flex;
  align-items: center;
  width: 72px;
  height: 72px;
}

.productInfo {
  padding-left: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100px;
}

.productContent {
 
  overflow: hidden;
  color: var(--Default-Text-Color, #191c1f);
  text-overflow: ellipsis;

  /* Body/Small/400 */
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  padding-right: 24px;
  white-space: nowrap;
  /* Ngăn chặn ngắn dòng nếu nội dung quá nhiều */
}

.delPrice {
  color: var(--Font-Color-Black, #8b8e99);
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  text-decoration-line: strikethrough;
}

.price {
  color: var(--Default-Text-Color, #191c1f);
  /* Body/Small/400 */
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.test {
  display: flex;
  align-items: center;
}
.containerCheckbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.itemTotalCart {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media only screen and (max-width: 1100px) {
   .productPrice > *{
    font-size: 11px;
  }
   .productContent, .price{
    font-size: 11px;
  }
  
  .container1 {
    width: 100%;
  }
  .asideCartPage {
    width: 100%;
  }
  .containerCartPage {
    display: flex;
    flex-direction: column;
  }
  .confirmationDialog {
    width: 60%;
  }

  .confirmationDialog {
    padding: 5px;
  }
  .contentDialog {
    font-size: 10px;
  }

  .btnDialogOk {
    font-size: 12px;
  }
  .btnDialogNo {
    font-size: 12px;
  }
}
@media only screen and (max-width: 800px) {
  .imgProduct{
    width: 43px;
    height: 43px;
  }
  .container{
    padding: 45px 10px;
  }
  .thTableWLFirst{
    padding-left: 12px;
  }
  .settingHeading{
    padding-left: 12px;
  }
  .productInfo{
    padding-left: 12px;
  }
  .thTableWL, .thTableWLFirst{
    padding-right: 10px;
  }
  .iconProduct{
    padding: 0px;
  }
  .productPrice > *{
    font-size: 11px;
  }
   .productContent, .price{
    font-size: 11px;
  }
  .productContent{
    padding-right: 5px;
  }
 
.productSvg  {
  font-size: 5px;
}
  .productSvg{
    padding-right: 5px;
  }
}
