.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
}
.containerCartPage{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.asideCartPage{
    display: flex;
    flex-direction: column;
}
.cartFullContainer {
    display: inline-flex;
    width: 50rem;
    flex-direction: column;
    align-items: flex-start;
    background: var(--gray-00, #FFF);
    flex-shrink: 0;
}

.title {
    width: 100%;
}

.heading {
    display: flex;

    padding: 20px 24px;
    align-items: flex-start;
    gap: 10px;

    color: var(--gray-900, #191C1F);

    /* Body/Large/500 */
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.subHeading {
    display: flex;
    border: 1px solid var(--Border-Color, #E4E7E9);
    background: transparent;
    padding: 10px 24px;
    align-items: center;
    gap: 24px;
    justify-content: space-around;
}

.contentSubHeading {
    color: var(--Font-Color-Black, #8B8E99);
    font-family: Public Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 18px */
}


.icon{
    cursor: pointer;
}

.imgProduct {
    width: 72px;
    height: 72px;
}

.nameProduct {
    overflow: hidden;
    color: var(--Default-Text-Color, #191C1F);
    text-overflow: ellipsis;

    /* Body/Small/400 */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    display: -webkit-box;
    width: 230px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.priceContainer {
    display: flex;
    gap: 8px;
}

.iconProduct {
    display: flex;
    width: 40px;
    height: 20px;

    justify-content: center;
    align-items: center;
}

.delPrice {
    color: var(--Font-Color-Black, #8B8E99);
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */

}

.price {
    color: var(--Default-Text-Color, #191C1F);

    /* Body/Small/400 */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */

}

.totalPrice {
    color: var(--Default-Text-Color, #191C1F);

    /* Body/Small/500 */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.containerProduct {
    width: 100%;
}

.product {
    display: flex;
    align-items: center;
    gap: 12px;



}

.productRow {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 18px 13px;

}

.cardTotals {

    display: flex;
    width: 422px;
    padding-bottom: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--gray-100, #E4E7E9);
    background: var(--gray-00, #FFF);
}

.cardTotalHeading {
    display: flex;
    padding: 20px 24px;
    align-items: flex-start;
    gap: 10px;
}

.total {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.contentCardTotalHeading {
    color: var(--gray-900, #191C1F);
    width: 376px;

    /* Body/Large/500 */
    font-family: Public Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 24px;
    /* 133.333% */
}

.containerDetailTotal {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.detailTotal {
    display: flex;
    width: 376px;
    justify-content: space-between;
    align-items: center;
}

.contentTotal {
    color: var(--gray-600, #5F6C72);

    /* Body/Small/400 */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.detailContentTotal {
    color: var(--gray-900, #191C1F);

    /* Body/Small/500 */
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.lineTotal {
    width: 376px;
    height: 1px;
    background-color: #E4E7E9;

}

.toltalPriceDetail {
    display: flex;
    width: 376px;
    justify-content: space-between;
    align-items: center;
}

.toltalPriceDetailContent {
    color: var(--gray-900, #191C1F);

    /* Body/Medium/400 */
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.headingCoupon {
    display: flex;
    border-bottom: 1px solid var(--gray-100, #E4E7E9);
    padding: 20px 24px;
    align-items: flex-start;
    gap: 10px;

    color: var(--gray-900, #191C1F);

    /* Body/Large/500 */
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.couponCode {
    display: flex;
    width: 424px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 4px;
 
    background: var(--gray-00, #FFF);

}

.form {

    display: flex;
    width: 385px;
    height: 70px;
    padding-top: 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.btnCoupon {
    width: 151.154px;
    padding: 16px 0 24px 0;

}
.applyCoupon{
    padding: 0 20px;
}