

.alertContainer {
    position: fixed;
    top: 3%;
    right: 1%;
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    width: 300px;
    text-align: center;
  }
  
  .alertContainer.show {
    display: block;
    animation: slideIn 0.5s ease-out forwards;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }