$color_1: var(--blue-BG);
$color_2: var(--Font-Color-Black, #8b8e99);
$color_3: #f5f5f7;
$color_4: #8b8e99;
$color_5: #1e1d1d;
$font-family_1: Poppins;
$font-family_2: "Inter";
$background-color_1: #f5f5f7;
$background-color_2: var(--BG);

@import "/src/App.css";

.homePage {
  background-color: $background-color_1;
}

.bg {
  background: linear-gradient(155deg, #383638 2.06%, #0b0b0b 33.08%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;

  width: 100%;
}

.imgBg {
  mix-blend-mode: luminosity;
  width: auto;
}

.article {
  display: flex;
  align-items: flex-start;
  z-index: 1;
  flex-direction: column;
  gap: 25px;
  margin: 30px 0;
  width: 40%;
}

.icon {
  color: $color_1;
  font-size: 18px;
  padding-right: 10px;
}

.textField {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 20px;
}

.searchInput {
  border-radius: 15px;
  background: var(--BG);
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 100%;
}

.input {
  width: 100%;
}

input {
  &::placeholder {
    color: $color_2;
    font-family: $font-family_1;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.5%;
  }

  color: $color_2;
  font-family: $font-family_1;
}

.text1 {
  color: $color_3;
  font-family: $font-family_1;
  font-size: 57px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
}

.text2 {
  color: $color_4;
  font-family: $font-family_1;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
}

.titleCategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: $color_2;
  text-align: center;
  font-family: $font-family_1;
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.008px;
  letter-spacing: -0.144px;
}

.contents {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.categoryField {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 55px 0;
}

.iphoneBanner {
  display: flex;
  background: #000;
  padding: 130px 0px 0px 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 89px;
}

.sliderContainer {
  margin: 45px 0;
}

.iphoneBannerText {
  color: $color_3;
  text-align: center;
  font-family: $font-family_1;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 29.001px;
  letter-spacing: 0.231px;
}

.iphoneBannerBtnField {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.iphoneBannerBtnFieldRep {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.newsLetter {
  padding: 120px 111px;
  border-radius: 22px;
  background: #fff;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.25);

  margin: 50px 85px;
  display: flex;

  align-items: center;
}
.imgNewsLetter {
  position: absolute;
  right: 111px;
}

.textBox1 {
  color: $color_5;
  font-family: $font-family_2;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.textBox2 {
  color: $color_4;
  font-family: $font-family_2;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.leftContentNews {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
    127deg,
    #383638 3.9%,
    #0b0b0b 28.86%,
    #0b0b0b 70.57%,
    #383638 96.6%
  );
  border-radius: 20px;

  width: 100%;
  height: 400px;
}
.containerBanner {
  padding: 0 20px;
}

.rightBannerImg {
  padding: 20px 20px 20px 0;
}

.leftBannerImg {
  padding: 20px 0 20px 20px;
}

.rightBannerImg,
.leftBannerImg {
  width: 20%;
  height: 100%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.text {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.imgBanner {
  width: auto;
  height: auto;
}

.Rep {
  display: none;
}

@media only screen and (max-width: 950px) {
  .article{
    align-items: center;
   width: 100% !important;
  
  }
  .bg{
    flex-direction: column;
    align-items: flex-end !important;
      width: 100% !important;
  }
  .imgBg{
    width: 80% !important;
  }
  .text1 {
    font-size: 30px !important;
  }
  .text2 {
    font-size: 16px !important;
  }
  .noRep {
    display: none;
  }

  .Rep {
    display: block;
  }

  .titleCategory {
    font-size: 23px;
  }
}
@media only screen and (max-width: 1300px) {
  .article {
    padding: 0 30px;
     width: 60% ;
  }
  .text1 {
    font-size: 25px;
  }
  .text2 {
    font-size: 12px;
  }
  .imgBg {
    width: 40%;
  }
  .input{
    font-size: 14px;
  }
    .input::placeholder{
    font-size: 14px;
  }
  .bg {
    padding: 0 20px;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;

    display: flex;
  }
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(
      127deg,
      #383638 3.9%,
      #0b0b0b 28.86%,
      #0b0b0b 70.57%,
      #383638 96.6%
    );
    border-radius: 20px;

    width: 100%;
    height: 150px;
  }

  .rightBannerImg,
  .leftBannerImg {
    height: auto;
  }

  .text {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .newsLetter {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    font-size: 50%;
    margin: 60px 30px;
    font-size: 50%;
    gap: 30px;
  }
  .leftContentNews {
    width: 100%;
  }
  .searchInput {
    width: 70%;
  }

  input {
    &::placeholder {
      color: $color_2;
      font-family: $font-family_1;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 125.5%;
    }

    color: $color_2;
    font-family: $font-family_1;
  }

  .imgNewsLetter {
    position: static;
  }

  .textBox1 {
    font-size: 22px;
  }

  .textBox2 {
    font-size: 13px;
  }
}
@media only screen and (max-width: 550px) {
  .searchInput {
    width: 100%;
  }
  .newsLetter {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    font-size: 50%;
    margin: 60px 30px;
    font-size: 50%;
    gap: 30px;
  }
  input {
    &::placeholder {
      color: $color_2;
      font-family: $font-family_1;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 125.5%;
    }

    color: $color_2;
    font-family: $font-family_1;
  }
  .imgNewsLetter {
    position: static;
  }
   .text1 {
    font-size: 22px !important;
  }
  .text2 {
    font-size: 14px !important;
    font-weight: 500;
  }
  .iphoneBanner{
    padding: 0 30px;
    padding-top: 50px;
  }
  .iphoneBannerText{
    font-size: 16px;
  }
}
