.NavProduct{
  display: flex;
  gap: 30px;
  width: 50%;

}
.searchNavProduct{
   
    display: flex;
    width: 100%;
    gap: 20px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}

.searchField{
width: 70%;
height: 50px;
color: var(--Font-Color-Black, #8B8E99);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.inputTextArea{
    height: 50px;
}
.inputTextArea{
    width: 25%;
    color: var(--Font-Color-Black, #8B8E99);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.option{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.contentNavProduct{
    color: var(--gray-900, #191C1F);
text-align: right;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}
.spanContent{
    margin-left: 10px;
    color: var(--gray-600, #5F6C72);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.menu{
    display: none;
}
@media only screen and (max-width: 800px) {
    .contentNavProduct{
        display: none;
    }
.menu{
    display: contents;
}
}