.text {
    display: flex;

flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #1D1D1F;
text-align: center;
font-family: Poppins;
font-size: 43px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; 
letter-spacing: -0.144px;

}
.btnLeft{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
    z-index: 2;
}
.btnRight{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    z-index: 2;
   
}
.container {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 0.2));



}

.containerHomeSlide{
   display: flex;
   flex-direction: column;
   gap: 50px;
   padding-top: 70px;
    background: #FFF;
    margin-bottom: 50px;
}


  

  
  
