.cardContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.rightContentProductPage {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.productRow {
  padding: 33px 70px 70px;
  display: flex;
  gap: 20px;
}




.iconNav {
  font-size: 16px;
  color: #8b8e99;
 
}
.leftContentProductPage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}
.searchnav {
  display: flex;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .productRow {
    padding: 33px 20px 20px;
  }
  .leftContentProductPage {
    position: fixed;
 height: 100vh;
  transition: all 0.5s;
    align-items: center;
    flex-direction: column;
    top: 70px;
    opacity: 0.9;
    z-index: 100000000;
    left: -100%;
   

   
  }
  .leftContentProductPage.hidden {
    left: 0;
  }
}
