.container{
    align-items: center;
    display: flex;
    flex-direction: column;
   
}
.color {
    margin-bottom: 10px;
}
.name{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.859% */
letter-spacing: -0.224px;
}
.img{
   max-width: 200px;
   margin-bottom: 22px;
}
.containerProducts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}