/* .navField{
    position: relative;
} */
.navField {
 
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}


.darkNav {
    background-color: transparent;
    border: solid none;
    box-shadow: none;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.lightNav {
    background-color: transparent;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.logo {
    font-size: 14px;
    display: flex;
    padding-left: 30px;
    text-decoration: none;
}

.nav {

 
    height: 70px;
    color: var(--font-color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
   


}

.item {
    color: var(--font-color-black);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.router {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.auth {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;

}